<h1>Let's chort!</h1>

<section id="messages-users">
	<div id="messages"><ul></ul></div>
	<div id="active-users"></div>
</section>

<section id="send-message">
	<div id="recepients"></div>
	<form>
		<textarea id="text" name="text"></textarea>
		<input id="send" name="send" value="send" type="button"/>
		<input id="broadcast" name="broadcast" value="broadcast" type="button"/>
	</form>
</section>
